<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wno704.boot.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wno704.boot.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="DEPT_ID" jdbcType="BIGINT" property="deptId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="SSEX" jdbcType="CHAR" property="ssex" />
    <result column="IS_TAB" jdbcType="CHAR" property="isTab" />
    <result column="THEME" jdbcType="VARCHAR" property="theme" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>